@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* NAVBAR */
nav.navbar {
  transition: 0.3s ease-in-out;
}
.company-title {
  font-family: "Carter One", cursive;
}

/* LAYOUT */
.layout {
  overflow-x: hidden;
}

/* MAIN SECTION */
.bg-main {
  height: 100vh;
  background-image: url(../images/jumbo.jpg);
  filter: brightness(0.5);
}

/* AVATAR */
.avtar .avatar-dropdown {
  transition: all 0.5s;
}

@media (min-width: 992px) {
  .avatar {
    position: relative;
  }
  .avatar-dropdown {
    position: absolute;
  }
}
